{ 
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react", 
    "import"
  ],
  "rules": {
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0
  },
  "settings": {
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  },
  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true
  }
}
